.accordion {
    background-color: rgb(255, 212, 194); 
}


.accordion__container {
    display: flex; 
    flex-direction: column;
   
}

.accordion__item {
    margin: 0 2rem;

}



.accordion__item-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 38px;
   
}

.accordion__item-information {
    display: none;
    padding: 10px;
}