
.hero {
    padding: 23px 23px;
    width: 100vw;
}

.hero__contents {
    width: 100%; 
    height: 70vh;
    position: relative; 
  
    
    & img {
        height: 100%; 
        width: 100%; 
        object-fit: cover;
    }

    & .hero__contents-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute; 

        top: 180px; 
        left: 100px;

        color: white; 

        & span {
            margin-bottom: 16px;
            color: rgb(240,243,244); 
        }

        & span:nth-child(1) {
            font-size: 28px;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: white;
        }

        & span:nth-child(2) {
            font-size: 20px;
        }
        & span:nth-child(3) {
            text-decoration: underline;
            cursor: pointer;
        }



    }
    
}




@media (min-width: 601px) {
    .hero {
        max-width: 1440px; 
        margin: 0 auto;
    }
}




//https://www.pexels.com/photo/man-in-front-of-the-mirror-3693143/

.navchoices {
    margin: 1.5rem auto 0px;
    padding: 0 23px 23px;
}

.navchoices__header {
    line-height: 20px;
    padding: 0 23px 23px;
    text-align: left;
    line-height: 1.6rem;
    text-align: center;

    
    & span:nth-of-type(1) {
        font-size: 24px;
        letter-spacing: 3px;
        margin-bottom: 32px;
    }

    & span:nth-of-type(2) {
        font-size: 14px;
        margin-bottom: 16px;
    }
}

.navchoices__container {
    display: flex; 
    gap: 1rem; 
    width: 100%; 
    margin: 0 auto;
    
    width: max-content;
    
    .navchoices__image {
        width: 200px; 
        height: 270px; 
        
        & img {
            height: 100%; 
            width: 100%; 
            object-fit: cover;
        }
    }   
}

@media (min-width: 750px) {
    .navchoices {
        padding: 0 23px 23px;
    }
    
    .navchoices__header {
        line-height: 20px;
        padding: 0 23px 23px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }

    .navchoices__container .navchoices__image {
        width: 280px;
        height: 320px;
    }   
}



// .navchoices {
//     width: 100%; 
//     height: 70vh;
//     position: relative; 
  
    
//     & img {
//         height: 100%; 
//         width: 100%; 
//         object-fit: cover;
//     }
// }